body {
  box-sizing: border-box;
  overflow-x: hidden;
}

ul {
  padding: 0;
}

.tilt__angle {
  transform: skewY(-6deg);
  background-color: white;
}

.diagonalline__short {
  width: 160px;
  height: 40px;
}

.diagonalline__long {
  width: 100%;
  height: 40px;
}

.diagonalline__lightblue {
  background-color: #b39964;
}

.diagonalline__darkblue {
  background-color: #997f4b;
  opacity: 0.7;
}

.diagonalline__intersection {
  background-color: #998356;
  height: 15px;
  width: 100%;
}

.skew__bottomleft {
  width: 100%;
  transform: skewY(-6deg);
}
.skew__bottomleft .wrap__skew {
  position: relative;
  width: 22.916666675vw;
}
.skew__bottomleft .diagonalline__short {
  position: absolute;
  right: 50px;
  z-index: 10;
}
.skew__bottomleft .diagonalline__long {
  transform: translateY(25px);
}

.skew__topright {
  width: 100%;
  transform: skewY(-6deg);
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
}
.skew__topright .wrap__skew {
  position: relative;
  width: 22.916666675vw;
}
.skew__topright .diagonalline__short {
  margin-left: 50px;
  z-index: 10;
  transform: translateY(-15px);
}

@media screen and (min-width: 1920px) {
  .skew__topright {
    overflow: unset;
  }
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #998356;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

.header {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.backgroundSkew {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 600px;
  transform-origin: -60px 100%;
  transform: skewY(-12deg);
  border: none;
  z-index: -1;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.navBar {
  margin: 0px auto;
  max-width: 77.22222222vw;
  padding: 12px 16px;
}
.navBar .navBar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.navBar .navBar__nav .logo {
  font-size: 32px;
  padding: 4px;
}
.navBar .navBar__nav .list {
  display: flex;
  list-style-type: none;
  margin: 0px auto;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #777777;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle:hover {
  color: #b39964;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle::after {
  display: none;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu {
  border-radius: 10px;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item {
  opacity: 0.7;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item.active {
  color: black;
  background-color: white;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item:hover {
  opacity: 1;
}
.navBar .navBar__nav .button__signup {
  border-radius: 16.5px;
  background-color: #997f4b;
  padding: 3px 0 6px;
  transition: all 0.5s;
}
.navBar .navBar__nav .button__signup a {
  padding: 10px 20px;
  color: white;
}
.navBar .navBar__nav .button__signup:hover {
  background-color: #b39964;
}
.navBar .navBar__nav .button__mobile {
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 10px;
}
.navBar .navBar__nav .button__mobile:hover {
  transform: scale(1.1);
}
.navBar .navBar__nav .content__mobile {
  position: absolute;
  display: none;
  max-width: 77.22222222vw;
  top: 18px;
  left: 11.38888889vw;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  transition: all 0.5;
}
.navBar .navBar__nav .content__mobile .mobile__close {
  display: flex;
  justify-content: end;
}
.navBar .navBar__nav .content__mobile .mobile__close .btn__close {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.navBar .navBar__nav .content__mobile .list__mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile {
  padding: 5px 10px;
  margin: 0 0 20px 0;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .title {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link {
  padding: 5px 10px;
  margin: 0 10px 0 10px;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link a {
  color: black;
  opacity: 0.7;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link a:hover {
  opacity: 0.9;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link:hover {
  background-color: #dadada;
  transform: scale(1.1);
}

.content__header .content__limit {
  max-width: 77.22222222vw;
  margin: 0px auto;
  padding: 50px 0px 120px 0px;
}
.content__header .content__left {
  padding: 0 0 50px 0;
  display: grid;
  row-gap: 32px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.content__header .content__left .title {
  letter-spacing: -0.04em;
  line-height: 1.04;
  font-size: 45px;
  font-weight: 700;
  color: #222222;
}
.content__header .content__left .copy__body {
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.content__header .content__left .copy__footer {
  display: flex;
  align-items: center;
}
.content__header .content__left .copy__footer .cta__button {
  padding: 5px 16px;
  border-radius: 16.5px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}
.content__header .content__left .copy__footer .cta__button:hover {
  transform: scale(1.1);
}
.content__header .content__left .copy__footer .start__now {
  background-color: #997f4b;
}
.content__header .content__left .copy__footer .start__now a {
  color: white;
}
.content__header .content__left .copy__footer .start__now:hover {
  background-color: #b39964;
}
.content__header .content__left .copy__footer .contact__sale a {
  color: #222222;
}
.content__header .content__left .copy__footer .contact__sale:hover a {
  color: #b39964;
}
.content__header .content__right {
  padding-top: 60px;
}
.content__header .content__right img {
  border-radius: 20px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
}
.content__header .content__right .copy_image {
  position: relative;
}
.content__header .content__right .copy__imagedesktop {
  position: absolute;
  top: -70px;
  left: 200px;
}
.content__header .content__right .copy_imagephone {
  position: relative;
}

@media screen and (min-width: 768px) {
  .header .content__header .content__left {
    padding: 0;
  }
  .header .content__header .content__left .copy__body {
    padding: 0 32px 0 16px;
  }
  .header .content__header .content__left .copy__footer {
    padding: 0 32px 0 16px;
  }
  .header .content__header .content__right .copy_imagephone {
    margin-left: 100px;
  }
}
@media screen and (min-width: 506px) {
  .navBar .navBar__nav .content__mobile .list__mobile {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .navBar {
    max-width: 90vw;
  }
}
@media screen and (min-width: 900px) {
  .navBar {
    max-width: 77.22222222vw;
  }

  .header .content__header .content__left .title {
    letter-spacing: -0.04em;
    line-height: 1.04;
    margin-top: 100px;
    font-size: 90px;
    font-weight: 700;
    color: #222222;
  }
}
@media screen and (min-width: 1440px) {
  .navBar {
    max-width: 1180px;
  }

  .content__header .content__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .navBar {
    max-width: 1366px;
  }

  .content__header .content__limit {
    max-width: 1366px;
    padding: 50px 0px 220px 0px;
  }
}
.platform {
  background-color: #f6f9fc;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.platform .platform__content .header__flatform .wrap__flatform {
  display: grid;
  row-gap: 24px;
}
.platform .platform__content .header__flatform .wrap__flatform .caption__section {
  color: #111111;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555555556;
}
.platform .platform__content .header__flatform .wrap__flatform .title__section {
  color: #222222;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 1.263157895;
}
.platform .platform__content .body__flatform .txt {
  color: #333333;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.platform .platform__content .body__flatform .txt .link__text {
  color: #635bff;
  cursor: pointer;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.platform .platform__content .body__flatform .txt .link__text:hover {
  color: #0a2540;
}
.platform .platform__content .body__flatform .link__button {
  background-color: #997f4b;
  color: #fff;
  font-weight: 700;
  border-radius: 16.5px;
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 6px 12px 6px 16px;
}
.platform .platform__content .body__flatform .link__button:hover {
  background-color: #b39964;
  transform: scale(1.1);
}
.platform .platform__content .footer__flatform .grid__table {
  display: grid;
  gap: 35px;
  grid-template-areas: "bottomleft bottomleft topleft topleft topright topright" "bottomleft bottomleft topcenter topcenter topcenter topcenter" "bottomright bottomright bottomright bottomright bottomright bottomright" "bottomright bottomright bottomright bottomright bottomright bottomright";
  background-color: #2196f3;
  padding: 10px;
}
.platform .platform__content .footer__flatform .grid__table .item__table {
  background-color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}
.platform .platform__content .footer__flatform .item1 {
  grid-area: topleft;
}
.platform .platform__content .footer__flatform .item2 {
  grid-area: topcenter;
}
.platform .platform__content .footer__flatform .item3 {
  grid-area: topright;
}
.platform .platform__content .footer__flatform .item4 {
  grid-area: bottomleft;
}
.platform .platform__content .footer__flatform .item5 {
  grid-area: bottomright;
}

.platform__limit {
  max-width: 77.22222222vw;
  margin: auto;
  padding: 64px 0 128px;
}

.row__layout {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 32px;
  align-items: flex-start;
}

.column__layout {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .column__layout {
    grid-template-columns: repeat(2, 1fr);
  }

  .platform__limit {
    padding: 128px 0 256px;
  }
}
@media screen and (min-width: 1366px) {
  .platform .platform__content .footer__flatform .grid__table {
    grid-template-areas: "topleft topleft topcenter topcenter topcenter topcenter topright topright" "bottomleft bottomleft topcenter topcenter topcenter topcenter topright topright" "bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright" "bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright";
  }
}
@media screen and (min-width: 1440px) {
  .platform__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .platform__limit {
    max-width: 1366px;
  }
}
.design {
  position: relative;
}
.design .design__skew {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #0a2540;
  transform: skewY(-6deg);
  z-index: 1;
}
.design .content__limit {
  max-width: 77.22222222vw;
  margin: 0px auto;
  padding: 90px 0px 110px 0px;
}
.design .content__limit .column__layout {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.design .content__limit .row__layout {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 64px;
  align-items: flex-start;
}
.design .design__content {
  position: relative;
  z-index: 10;
}
.design .design__content .caption__section {
  color: #00d4ff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555555556;
}
.design .design__content .title__section {
  color: #fff;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 1.263157895;
}
.design .design__content .contain__section {
  color: #adbdcc;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.design .design__content .image__design {
  width: 220px;
}
.design .design__content .button__section a {
  padding: 3px 16px 6px 16px;
  background-color: #00d4ff;
  color: #0a2540;
  font-weight: 700;
  border-radius: 16.5px;
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.design .design__content .button__section a:hover {
  background-color: #fff;
}
.design .design__content .icon {
  width: 40px;
  height: 35px;
  background-color: #00d4ff;
  border-radius: 5px;
  padding: 5px;
}
.design .design__content .title__small {
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.2px;
}
.design .design__content .title__small::before {
  display: block;
  position: absolute;
  height: 15px;
  width: 1px;
  content: " ";
  left: -13px;
  top: 5px;
  background-color: #00d4ff;
}
.design .design__content .link__section a {
  color: #00d4ff;
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  font-weight: 500;
  display: inline-block;
}
.design .design__content .link__section a:hover {
  color: #fff;
}
.design .custom__background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.design .custom__background .background__left {
  width: 50%;
  height: 100%;
  background-color: #f6f9fc;
}
.design .custom__background .background__right {
  width: 50%;
  height: 100%;
}

@media screen and (min-width: 450px) {
  .design .design__content .image__design {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .design .content__limit {
    padding: 180px 0px 220px 0px;
  }
}
@media screen and (min-width: 1440px) {
  .design .content__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .design .content__limit {
    max-width: 1366px;
  }
}
.technology {
  position: relative;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.technology .skew__animateright {
  width: 50%;
  height: 100%;
}
.technology .skew__animateright .diagonal__shortright {
  position: absolute;
  top: 25px;
}

.technology__content {
  position: relative;
  max-width: 77.22222222vw;
  margin: 0 auto;
  padding: 125px 0;
}
.technology__content .gridRow {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 64px;
  align-items: flex-start;
}
.technology__content .gridRow .technology__header {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.technology__content .gridRow .technology__header .padding__header {
  padding: 0;
}
.technology__content .gridRow .technology__header .tecnology__caption {
  color: #111111;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555555556;
}
.technology__content .gridRow .technology__header .technology__label {
  color: #222222;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 1.263157895;
}
.technology__content .gridRow .gridColumn {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.technology__content .gridRow .gridColumn .icon {
  width: 50px;
  height: 45px;
  background-color: #b39964;
  border-radius: 5px;
  padding: 5px;
}
.technology__content .gridRow .gridColumn .title__small {
  position: relative;
  color: #777777;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.2px;
}
.technology__content .gridRow .gridColumn .title__small::before {
  display: block;
  position: absolute;
  height: 15px;
  width: 1px;
  content: " ";
  left: -13px;
  top: 5px;
  background-color: #997f4b;
}
.technology__content .gridRow .gridColumn .contain__section {
  color: #333333;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.technology__content .gridRow .gridColumn .contain__section a {
  color: #635bff;
}

@media screen and (min-width: 600px) {
  .technology__content .gridRow .gridColumn {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .technology__content {
    padding: 255px 0;
  }
}
@media screen and (min-width: 900px) {
  .technology__content .gridRow .technology__header {
    grid-template-columns: 3fr 1fr;
  }
  .technology__content .gridRow .technology__header .padding__header {
    padding: 0 64px 0 16px;
  }
  .technology__content .gridRow .gridColumn {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .technology .technology__content {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .technology .technology__content {
    max-width: 1336px;
  }
}
.globe {
  position: relative;
  background-color: #998356;
}
.globe .background__skew {
  position: absolute;
  top: -5.255211765vw;
  left: 0;
  transform: skewY(-6deg);
  background-color: #998356;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.globe .background__skew .skew__bottomleft {
  transform: skewY(0deg);
  z-index: 10;
  background-color: white;
  position: absolute;
  top: -65px;
}
.globe .particles {
  position: absolute;
  z-index: 25;
  width: 100vw;
  top: 0;
  height: 100%;
}
.globe .globe__content {
  position: relative;
  z-index: 50;
  max-width: 77.22222222vw;
  margin: 0 auto;
  padding: 125px 0;
}
.globe .globe__content .gridRow {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 64px;
  align-items: flex-start;
}
.globe .globe__content .gridRow .globe__header {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.globe .globe__content .gridRow .globe__header .padding__header {
  padding: 0;
}
.globe .globe__content .gridRow .globe__header .globe__caption {
  color: #111111;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555555556;
}
.globe .globe__content .gridRow .globe__header .globe__label {
  color: #222222;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 1.263157895;
}
.globe .globe__content .gridRow .globe__header .globe__text {
  color: #333333;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 500;
  letter-spacing: 0.2px;
}
.globe .globe__content .gridRow .globe__header .globe__text a {
  color: #00d4ff;
}
.globe .globe__content .gridRow .gridColumn {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.globe .globe__content .gridRow .gridColumn .title__small {
  position: relative;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.2px;
}
.globe .globe__content .gridRow .gridColumn .title__small::before {
  display: block;
  position: absolute;
  height: 20px;
  width: 1px;
  content: " ";
  left: -13px;
  top: 10px;
  background-color: #00d4ff;
}
.globe .globe__content .gridRow .gridColumn .contain__section {
  color: #adbdcc;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 500;
  letter-spacing: 0.2px;
}

@media screen and (min-width: 600px) {
  .globe__content .gridRow .gridColumn {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  .globe__content {
    padding: 255px 0;
  }
}
@media screen and (min-width: 900px) {
  .globe__content .gridRow .globe__header {
    grid-template-columns: 2fr 2fr;
  }
  .globe__content .gridRow .globe__header .padding__header {
    padding: 0 64px 0 16px;
  }
  .globe__content .gridRow .gridColumn {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .globe .globe__content {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .globe .globe__content {
    max-width: 1336px;
  }
}
.contact .contact__limit {
  padding: 64px 0 150px 0;
  max-width: 72.2222222vw;
  margin: auto;
}
.contact .grid__table {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}
.contact .grid__table .table__header {
  display: grid;
  row-gap: 24px;
  padding: 0 16px;
}
.contact .grid__table .table__header .title {
  line-height: 1.04;
  font-size: 24px;
  font-weight: 500;
  color: #222222;
}
.contact .grid__table .table__header .copy__body {
  font-size: 18px;
  color: #333333;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.contact .grid__table .table__header .copy__footer {
  display: flex;
  align-items: center;
}
.contact .grid__table .table__header .copy__footer .cta__button {
  padding: 5px 16px;
  border-radius: 16.5px;
  font-weight: 700;
  outline: none;
}
.contact .grid__table .table__header .copy__footer .start__now {
  background-color: #635bff;
  cursor: pointer;
  transition: all 0.5s;
}
.contact .grid__table .table__header .copy__footer .start__now a {
  color: #fff;
}
.contact .grid__table .table__header .copy__footer .start__now:hover {
  background-color: #0a2540;
}
.contact .grid__table .table__header .copy__footer .contact__sale {
  cursor: pointer;
  transition: all 0.5s;
}
.contact .grid__table .table__header .copy__footer .contact__sale a {
  color: #635bff;
}
.contact .grid__table .table__header .copy__footer .contact__sale:hover a {
  color: #0a2540;
}
.contact .grid__table .table__content {
  padding: 0 16px;
}
.contact .grid__table .table__content .icon {
  width: 40px;
  height: 35px;
  background-color: #00d4ff;
  border-radius: 5px;
  padding: 5px;
}
.contact .grid__table .table__content .title__small {
  position: relative;
  color: #0a2540;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.2px;
}
.contact .grid__table .table__content .title__small::before {
  display: block;
  position: absolute;
  height: 15px;
  width: 1px;
  content: " ";
  left: -13px;
  top: 5px;
  background-color: #00d4ff;
}
.contact .grid__table .table__content .contain__section {
  color: #425466;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.contact .grid__table .table__content .link__section a {
  color: #635bff;
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  font-weight: 500;
  display: inline-block;
}
.contact .grid__table .table__content .link__section a:hover {
  color: #0a2540;
}

@media screen and (min-width: 768px) {
  .contact .contact__limit {
    padding: 128px 0 300px 0;
  }
}
@media screen and (min-width: 1440px) {
  .contact .contact__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .contact .contact__limit {
    max-width: 1336px;
  }
}
.footer {
  position: relative;
  width: 100%;
}
.footer .skew__topright {
  position: absolute;
  z-index: 20;
  top: -5.255211765vw;
  background-color: white;
  height: 65px;
}
.footer .skew__bottomleft {
  position: absolute;
  z-index: 20;
  top: -5.255211765vw;
}
.footer .skew__footer {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #cbba97;
  top: -5.255211765vw;
  transform: skewY(-6deg);
  z-index: 10;
}
.footer .transparent__footer {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.footer .transparent__footer div {
  height: 50%;
}
.footer .transparent__footer div:last-child {
  background-color: #cbba97;
}
.footer .contain__footer {
  max-width: 77.22222222vw;
  padding: 125px 0 64px;
  display: grid;
  margin: auto;
  grid: auto/repeat(2, 1fr);
  row-gap: 20px;
  position: relative;
  z-index: 50;
}
.footer .contain__footer .contain__item {
  display: grid;
  row-gap: 20px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.footer .contain__footer .contain__item .logo__footer {
  font-size: 25px;
  font-weight: 700;
}
.footer .contain__footer .contain__item .label__footer {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #0a2540;
}
.footer .contain__footer .contain__item .item {
  margin: 4px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #0a2540;
}
.footer .contain__footer .contain__item .item a {
  color: #0a2540;
}
.footer .contain__footer .contain__item:first-child {
  grid: min-content/auto;
  grid: -webkit-min-content/auto;
}

@media screen and (min-width: 768px) {
  .footer .contain__footer {
    padding: 250px 0 128px;
  }
}
@media screen and (min-width: 1440px) {
  .footer .contain__footer {
    max-width: 1180px;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .contain__footer .contain__item {
    grid: min-content/auto;
    grid: -webkit-min-content/auto;
  }
  .footer .contain__footer .contain__item:first-child {
    grid-template-rows: auto min-content;
    grid-template-rows: auto -webkit-min-content;
  }
}
@media screen and (min-width: 1920px) {
  .footer .contain__footer {
    max-width: 1366px;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .contain__footer .contain__item {
    grid: min-content/auto;
    grid: -webkit-min-content/auto;
  }
}

/*# sourceMappingURL=style.css.map */
