body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.tilt__angle {
  transform: skewY(-6deg);
  background-color: white;
}

.diagonalline__short {
  width: 160px;
  height: 40px;
  margin-left: 70px;
}

.diagonalline__long {
  width: 287px;
  height: 40px;
}

.diagonalline__lightblue {
  background-color: #80e9ff;
}

.diagonalline__darkblue {
  background-color: #7073ff;
}

.diagonalline__intersection {
  background-color: #0048e5;
  height: 15px;
  width: 100%;
}

.header {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.backgroundSkew {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 600px;
  transform-origin: -60px 100%;
  transform: skewY(-12deg);
  border: none;
  z-index: -1;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.navBar {
  margin: 0px auto;
  max-width: 77.22222222vw;
  padding: 12px 16px;
}
.navBar .navBar__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
.navBar .navBar__nav .logo {
  font-size: 32px;
  padding: 4px;
}
.navBar .navBar__nav .list {
  color: #fff;
  display: flex;
  list-style-type: none;
  margin: 0px auto;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle:hover {
  opacity: 0.6;
}
.navBar .navBar__nav .list .dropdown .dropdown-toggle::after {
  display: none;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu {
  border-radius: 10px;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item {
  opacity: 0.7;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item.active {
  color: black;
  background-color: white;
}
.navBar .navBar__nav .list .dropdown .dropdown-menu .dropdown-item:hover {
  opacity: 1;
}
.navBar .navBar__nav .button__signup {
  border-radius: 16.5px;
  background-color: hsla(0deg, 0%, 100%, 0.2);
  padding: 3px 0 6px;
  transition: all 0.5s;
}
.navBar .navBar__nav .button__signup a {
  padding: 10px 20px;
  color: white;
}
.navBar .navBar__nav .button__signup:hover {
  background-color: hsla(0deg, 0%, 100%, 0.4);
}
.navBar .navBar__nav .button__mobile {
  cursor: pointer;
  background-color: hsla(0deg, 0%, 100%, 0.2);
  border-radius: 10px;
}
.navBar .navBar__nav .button__mobile:hover {
  transform: scale(1.1);
}
.navBar .navBar__nav .content__mobile {
  position: absolute;
  display: none;
  max-width: 77.22222222vw;
  top: 18px;
  left: 11.38888889vw;
  background-color: #fff;
  border-radius: 10px;
  z-index: 10;
  transition: all 0.5;
}
.navBar .navBar__nav .content__mobile .mobile__close {
  display: flex;
  justify-content: end;
}
.navBar .navBar__nav .content__mobile .mobile__close .btn__close {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}
.navBar .navBar__nav .content__mobile .list__mobile {
  display: flex;
  flex-wrap: wrap;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile {
  padding: 5px 10px;
  margin: 0 0 20px 0;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .title {
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link {
  padding: 5px 10px;
  margin: 0 10px 0 10px;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link a {
  color: black;
  opacity: 0.7;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link a:hover {
  opacity: 0.9;
}
.navBar .navBar__nav .content__mobile .list__mobile .item__mobile .item__link:hover {
  background-color: #dadada;
  transform: scale(1.1);
}

.content__header .content__limit {
  max-width: 77.22222222vw;
  margin: 0px auto;
  padding: 50px 0px 120px 0px;
}
.content__header .content__left {
  display: grid;
  row-gap: 32px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.content__header .content__left .title {
  letter-spacing: -0.04em;
  line-height: 1.04;
  margin-top: 100px;
  font-size: 90px;
  font-weight: 700;
  color: #3a3a3a;
}
.content__header .content__left .copy__body {
  padding: 0 32px 0 16px;
  font-size: 18px;
  color: #425466;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.content__header .content__left .copy__footer {
  padding: 0 32px 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.content__header .content__left .copy__footer .cta__button {
  padding: 5px 16px;
  border-radius: 16.5px;
  font-weight: 700;
  outline: none;
}
.content__header .content__left .copy__footer .cta__button:hover {
  transform: scale(1.1);
}
.content__header .content__left .copy__footer .start__now {
  background-color: #0a2540;
}
.content__header .content__left .copy__footer .start__now a {
  color: white;
}
.content__header .content__left .copy__footer .contact__sale a {
  color: #0a2540;
}
.content__header .content__right {
  padding-top: 60px;
}
.content__header .content__right img {
  border-radius: 20px;
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3), inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
}
.content__header .content__right .copy_image {
  position: relative;
}
.content__header .content__right .copy__imagedesktop {
  position: absolute;
  top: -70px;
  left: 200px;
}
.content__header .content__right .copy_imagephone {
  position: relative;
  margin-left: 100px;
}

@media screen and (min-width: 1440px) {
  .navBar {
    max-width: 1180px;
  }

  .content__header .content__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .navBar {
    max-width: 1366px;
  }

  .content__header .content__limit {
    max-width: 1366px;
    padding: 50px 0px 220px 0px;
  }
}
.platform {
  background-color: #f6f9fc;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.platform .platform__content .header__flatform .wrap__flatform {
  display: grid;
  row-gap: 24px;
}
.platform .platform__content .header__flatform .wrap__flatform .caption__section {
  color: #635bff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.555555556;
}
.platform .platform__content .header__flatform .wrap__flatform .title__section {
  color: #0a2540;
  font-weight: 700;
  font-size: 38px;
  letter-spacing: -0.2px;
  line-height: 1.263157895;
}
.platform .platform__content .body__flatform .txt {
  color: #425466;
  font-size: 18px;
  line-height: 1.555555556;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.platform .platform__content .body__flatform .txt .link__text {
  color: #635bff;
  cursor: pointer;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.platform .platform__content .body__flatform .txt .link__text:hover {
  color: #0a2540;
}
.platform .platform__content .body__flatform .link__button {
  background-color: #635bff;
  color: #fff;
  font-weight: 700;
  border-radius: 16.5px;
  outline: none;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  padding: 3px 12px 6px 16px;
}
.platform .platform__content .body__flatform .link__button:hover {
  background-color: #0a2540;
}
.platform .platform__content .footer__flatform .grid__table {
  display: grid;
  gap: 35px;
  grid-template-areas: "bottomleft bottomleft topleft topleft topright topright" "bottomleft bottomleft topcenter topcenter topcenter topcenter" "bottomright bottomright bottomright bottomright bottomright bottomright" "bottomright bottomright bottomright bottomright bottomright bottomright";
  background-color: #2196f3;
  padding: 10px;
}
.platform .platform__content .footer__flatform .grid__table .item__table {
  background-color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 30px;
}
.platform .platform__content .footer__flatform .item1 {
  grid-area: topleft;
}
.platform .platform__content .footer__flatform .item2 {
  grid-area: topcenter;
}
.platform .platform__content .footer__flatform .item3 {
  grid-area: topright;
}
.platform .platform__content .footer__flatform .item4 {
  grid-area: bottomleft;
}
.platform .platform__content .footer__flatform .item5 {
  grid-area: bottomright;
}

.platform__limit {
  max-width: 77.22222222vw;
  margin: auto;
  padding: 128px 0 256px;
}

.row__layout {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 32px;
  align-items: flex-start;
}

.column__layout {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .column__layout {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1366px) {
  .platform .platform__content .footer__flatform .grid__table {
    grid-template-areas: "topleft topleft topcenter topcenter topcenter topcenter topright topright" "bottomleft bottomleft topcenter topcenter topcenter topcenter topright topright" "bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright" "bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright";
  }
}
@media screen and (min-width: 1440px) {
  .platform__limit {
    max-width: 1180px;
  }
}
@media screen and (min-width: 1920px) {
  .platform__limit {
    max-width: 1366px;
  }
}
.footer {
  position: relative;
  width: 100%;
  padding: 250px 0 128px;
  margin-top: 300px;
}
.footer .wrap__skew {
  position: absolute;
  width: 100%;
  top: -75px;
}
.footer .wrap__skew .custom__skew {
  height: 85px;
}
.footer .footer__tilt__angle {
  height: 100%;
  width: 100vw;
  background-color: #f6f9fc;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.footer .contain__footer {
  max-width: 77.22222222vw;
  display: grid;
  margin: auto;
  grid: auto/repeat(2, 1fr);
  row-gap: 20px;
}
.footer .contain__footer .contain__item {
  display: grid;
  row-gap: 20px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}
.footer .contain__footer .contain__item .logo__footer {
  font-size: 25px;
  font-weight: 700;
}
.footer .contain__footer .contain__item .label__footer {
  margin-bottom: 8px;
  font-size: 15px;
  font-weight: 700;
  color: #0a2540;
}
.footer .contain__footer .contain__item .item {
  margin: 4px 0;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #0a2540;
}
.footer .contain__footer .contain__item .item a {
  color: #0a2540;
}
.footer .contain__footer .contain__item:first-child {
  grid: min-content/auto;
  grid: -webkit-min-content/auto;
}

.diagonalline__left {
  height: 65px;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.diagonalline__left .diagonal__shortleft {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column-reverse;
}

.diagonalline_right {
  height: 65px;
  position: relative;
}
.diagonalline_right .diagonal__shortright {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1440px) {
  .footer .contain__footer {
    max-width: 1180px;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .contain__footer .contain__item {
    grid: min-content/auto;
    grid: -webkit-min-content/auto;
  }
  .footer .contain__footer .contain__item:first-child {
    grid-template-rows: auto min-content;
    grid-template-rows: auto -webkit-min-content;
  }
}
@media screen and (min-width: 1920px) {
  .footer .wrap__skew {
    top: -100px;
  }
  .footer .wrap__skew .custom__skew {
    height: 140px;
  }
  .footer .contain__footer {
    max-width: 1366px;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer .contain__footer .contain__item {
    grid: min-content/auto;
    grid: -webkit-min-content/auto;
  }
}

/*# sourceMappingURL=style.css.map */
