.contact {
  .contact__limit {
    padding: 64px 0 150px 0;
    max-width: calc(100vw * 0.722222222);
    margin: auto;
  }
  .grid__table {
    display: grid;
    row-gap: 32px;
    align-items: flex-start;
    .table__header {
      display: grid;
      row-gap: 24px;
      padding: 0 16px;
      .title {
        line-height: 1.04;
        font-size: 24px;
        font-weight: 500;
        color: #0a2540;
      }
      .copy__body {
        font-size: 18px;
        color: #425466;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
      .copy__footer {
        display: flex;
        align-items: center;

        .cta__button {
          padding: 5px 16px;
          border-radius: 16.5px;
          font-weight: 700;
          outline: none;
        }
        .start__now {
          background-color: #635bff;
          cursor: pointer;
          transition: all 0.5s;
          a {
            color: #fff;
          }
          &:hover {
            background-color: #0a2540;
          }
        }
        .contact__sale {
          cursor: pointer;
          transition: all 0.5s;
          a {
            color: #635bff;
          }
          &:hover {
            a {
              color: #0a2540;
            }
          }
        }
      }
    }
    .table__content {
      padding: 0 16px;
      .icon {
        width: 40px;
        height: 35px;
        background-color: #00d4ff;
        border-radius: 5px;
        padding: 5px;
      }
      .title__small {
        position: relative;
        color: #0a2540;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: -0.2px;
        &::before {
          display: block;
          position: absolute;
          height: 15px;
          width: 1px;
          content: ' ';
          left: -13px;
          top: 5px;
          background-color: #00d4ff;
        }
      }
      .contain__section {
        color: #425466;
        font-size: 18px;
        line-height: 1.555555556;
        font-weight: 300;
        letter-spacing: 0.2px;
      }
      .link__section {
        a {
          color: #635bff;
          outline: none;
          transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
          font-weight: 500;
          display: inline-block;
          &:hover {
            color: #0a2540;
          }
        }
      }
    }
  }
}
@include ScreenWidth(600px) {
  .contact {
    .grid__table {
      grid-template-columns: repeat(2, 1fr);
      .table__header {
        grid-area: 1 / span 2;
        padding: 0 64px 0 16px;
      }
      .table__content {
        padding: 0 32px 0 16px;
      }
    }
  }
}
@include ScreenWidth(768px) {
  .contact {
    .contact__limit {
      padding: 128px 0 300px 0;
    }
  }
}
@include ScreenWidth(900px) {
  .contact {
    .grid__table {
      grid-template-columns: 2fr repeat(2, 1fr);
      .table__header {
        grid-area: unset;
        padding: 0 112px 0 16px;
      }
    }
  }
}
@include ScreenWidth(1440px) {
  .contact {
    .contact__limit {
      max-width: 1180px;
    }
  }
}
@include ScreenWidth(1920px) {
  .contact {
    .contact__limit {
      max-width: 1336px;
    }
  }
}
