.platform {
  background-color: #f6f9fc;
  font-family: 'sohne-var', 'Helvetica Neue', 'Arial', sans-serif;
  .platform__content {
    .header__flatform {
      .wrap__flatform {
        display: grid;
        row-gap: 24px;
        .caption__section {
          color: #111111;
          font-weight: 700;
          font-size: 18px;
          line-height: 1.555555556;
        }
        .title__section {
          color: #222222;
          font-weight: 700;
          font-size: 38px;
          letter-spacing: -0.2px;
          line-height: 1.263157895;
        }
      }
    }
    .body__flatform {
      .txt {
        color: #333333;
        font-size: 18px;
        line-height: 1.555555556;
        font-weight: 300;
        letter-spacing: 0.2px;
        .link__text {
          color: #635bff;
          cursor: pointer;
          transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
          &:hover {
            color: #0a2540;
          }
        }
      }
      .link__button {
        background-color: #997f4b;
        color: #fff;
        font-weight: 700;
        border-radius: 16.5px;
        outline: none;
        transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
        padding: 6px 12px 6px 16px;
        &:hover {
          background-color: #b39964;
          transform: scale(1.1);
        }
      }
    }
    .footer__flatform {
      .grid__table {
        display: grid;
        gap: 35px;
        grid-template-areas:
          'bottomleft bottomleft topleft topleft topright topright'
          'bottomleft bottomleft topcenter topcenter topcenter topcenter'
          'bottomright bottomright bottomright bottomright bottomright bottomright'
          'bottomright bottomright bottomright bottomright bottomright bottomright';
        background-color: #2196f3;
        padding: 10px;
        .item__table {
          background-color: white;
          padding: 20px 0;
          text-align: center;
          font-size: 30px;
        }
      }
      .item1 {
        grid-area: topleft;
      }
      .item2 {
        grid-area: topcenter;
      }
      .item3 {
        grid-area: topright;
      }
      .item4 {
        grid-area: bottomleft;
      }
      .item5 {
        grid-area: bottomright;
      }
    }
  }
}
.platform__limit {
  max-width: calc(100vw * 0.7722222222);
  margin: auto;
  padding: 64px 0 128px;
}
.row__layout {
  display: grid;
  grid: auto/minmax(0, 1fr);
  row-gap: 32px;
  align-items: flex-start;
}
.column__layout {
  display: grid;
  row-gap: 32px;
  align-items: flex-start;
}

@include ScreenWidth(768px) {
  .column__layout {
    grid-template-columns: repeat(2, 1fr);
  }
  .platform__limit {
    padding: 128px 0 256px;
  }
}
@include ScreenWidth(1366px) {
  .platform {
    .platform__content {
      .footer__flatform {
        .grid__table {
          grid-template-areas:
            'topleft topleft topcenter topcenter topcenter topcenter topright topright'
            'bottomleft bottomleft topcenter topcenter topcenter topcenter topright topright'
            'bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright'
            'bottomleft bottomleft bottomright bottomright bottomright bottomright bottomright bottomright';
        }
      }
    }
  }
}
@include ScreenWidth(1440px) {
  .platform__limit {
    max-width: 1180px;
  }
}
@include ScreenWidth(1920px) {
  .platform__limit {
    max-width: 1366px;
  }
}
