.footer {
  position: relative;
  width: 100%;

  .contain__footer {
    max-width: calc(100vw * 0.7722222222);
    padding: 125px 0 64px;
    display: grid;
    margin: auto;
    grid: auto/repeat(2, 1fr);
    row-gap: 20px;
    .contain__item {
      display: grid;
      row-gap: 20px;
      font-family: 'sohne-var', 'Helvetica Neue', 'Arial', sans-serif;
      .logo__footer {
        font-size: 25px;
        font-weight: 700;
      }
      .label__footer {
        margin-bottom: 8px;
        font-size: 15px;
        font-weight: 700;
        color: #0a2540;
      }
      .item {
        margin: 4px 0;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #0a2540;
        a {
          color: #0a2540;
        }
      }
    }
    .contain__item:first-child {
      grid: min-content/auto;
      grid: -webkit-min-content/auto;
    }
  }
}
@include ScreenWidth(768px) {
  .footer {
    .contain__footer {
      padding: 250px 0 128px;
    }
  }
}
@include ScreenWidth(1440px) {
  .footer {
    .contain__footer {
      max-width: 1180px;
      grid-template-columns: repeat(4, 1fr);
      .contain__item {
        grid: min-content/auto;
        grid: -webkit-min-content/auto;
      }
      .contain__item:first-child {
        grid-template-rows: auto min-content;
        grid-template-rows: auto -webkit-min-content;
      }
    }
  }
}
@include ScreenWidth(1920px) {
  .footer {
    .wrap__skew {
      top: -100px;
      .custom__skew {
        height: 140px;
      }
    }
    .contain__footer {
      max-width: 1366px;
      grid-template-columns: repeat(4, 1fr);
      .contain__item {
        grid: min-content/auto;
        grid: -webkit-min-content/auto;
      }
    }
  }
}
