.tilt__angle {
  transform: skewY(-6deg);
  background-color: white;
}
.diagonalline__short {
  width: 160px;
  height: 40px;
}
.diagonalline__long {
  width: 100%;
  height: 40px;
}
.diagonalline__lightblue {
  background-color: #80e9ff;
}
.diagonalline__darkblue {
  background-color: #7073ff;
}
.diagonalline__intersection {
  background-color: #0048e5;
  height: 15px;
  width: 100%;
}
.skew__bottomleft {
  width: 100%;
  transform: skewY(-6deg);
  .wrap__skew {
    position: relative;
    width: calc(((100vw - (100vw * 0.722222222)) / 2) + (((100vw * 0.722222222) / 2) * 0.25));
  }
  .diagonalline__short {
    position: absolute;
    right: 50px;
    z-index: 10;
  }
  .diagonalline__long {
    transform: translateY(25px);
  }
}

.skew__topright {
  width: 100%;
  transform: skewY(-6deg);
  display: flex;
  justify-content: end;
  .wrap__skew {
    position: relative;
    width: calc(((100vw - (100vw * 0.722222222)) / 2) + (((100vw * 0.722222222) / 2) * 0.25));
  }
  .diagonalline__short {
    position: absolute;
    left: 50px;
    z-index: 10;
    transform: translateY(-15px);
  }
}
